<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') -%>
</head>

<body>
  <%- include('../../partials/header') -%>
  <div class="container">
    <h1>
      <span>Staff</span>
      <a href="/staff/create">
        <button class="btn btn-outline-success">Thêm</button>
      </a>
    </h1>
    <div class="d-flex align-items-center"></div>
    <table class="table table-bordered table-dark">
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Số điện thoại</th>
        <th>Chức vụ</th>
        <th>Tùy chọn</th>
      </tr>
      <% if (users) { %>
      <% users.forEach(function(user,index) {%>
      <tr>
        <td><%=index+1 %></td>
        <td><%=user.name %></td>
        <td><%=user.phone %></td>
        <td><%=user.role %></td>
        <td>
          <a href="/staff/update/<%= user.id%>">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-pencil"></i>
            </button>
          </a>
          |
          <a href="/staff/<%= user.id%>">
            <button type="button" class="btn btn-success">
              <i class="fa fa-eye"></i>
            </button>
          </a>
          |
          <a href="/staff/delete/<%= user.id%>">
            <button type="button" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </a>
        </td>
      </tr>
      <% }); } %>
    </table>
  </div>
  <%- include('../../partials/footer') -%>
</body>

</html>